<%= form_for(@user, url: wizard_path) do |f|%>
  <h3>Step 2: Contact Information</h3>

  <div>
    <%= f.label :primary_phone %>
    <%= telephone_field_tag :primary_phone %>
    <%= radio_button_tag :primary_phone_type, 'Cell' %>
    <%= f.label :primary_phone_type, 'Cell' %>
    <%= radio_button_tag :primary_phone_type, 'Home' %>
    <%= f.label :primary_phone_type, 'Home' %>
    <%= radio_button_tag :primary_phone_type, 'Work' %>
    <%= f.label :primary_phone_type, 'Work' %>
  </div>

  <div>
    <%= f.label :secondary_phone %>
    <%= telephone_field_tag :secondary_phone %>
    <%= radio_button_tag :secondary_phone_type, 'Cell' %>
    <%= f.label :secondary_phone_type, 'Cell' %>
    <%= radio_button_tag :secondary_phone_type, 'Home' %>
    <%= f.label :secondary_phone_type, 'Home' %>
    <%= radio_button_tag :secondary_phone_type, 'Work' %>
    <%= f.label :secondary_phone_type, 'Work' %>
  </div>

  <div>
    <%= f.label :email, 'Email' %>
    <%= email_field(:user, :email) %>
  </div>

  <div>
    <p>( Preferred Method of Contact )
    <%= f.label :contact_method, 'Cell' %>
    <%= radio_button_tag :contact_method, 'Cell' %>
    <%= f.label :contact_method, 'Home' %>
    <%= radio_button_tag :contact_method, 'Home' %>
    <%= f.label :contact_method, 'Work'%>
    <%= radio_button_tag :contact_method, 'Work' %>
    <%= f.label :contact_method, 'Email' %>
    <%= radio_button_tag :contact_method, 'Email' %></p>
  </div>
  <div>
    <%= f.submit 'Continue', class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
<% end %>



