<%= form_for(@user, url: wizard_path) do |f|%>
  <h3>Step 3: Demographic Information</h3>

  <div>
    <%= radio_button_tag :gender, 'male' %>
    <%= f.label :gender_male, 'Male' %>
    <%= radio_button_tag :gender, 'female' %>
    <%= f.label :gender_female, 'Female' %>
  </div>

  <div>
    <%= f.label :social_security_number %>
    <%= text_field_tag :social_security_number1 %>
    <%= text_field_tag :social_security_number2 %>
    <%= text_field_tag :social_security_number3 %>
  </div>
  <div>
    <p>Race:
      <%= select_tag "Race", options_for_select(@race), prompt: 'Select One' %>
    </p>
  </div>
  <div>
    <%= f.label :preferred_language %>
    <%= text_field_tag :preferred_language%>
  </div>

  <div>
    <%= f.label :employer %>
    <%= text_field_tag :employer %>
  </div>

  <div>
    <p>Relationship status...
      <%= f.label :relationship_status, 'Married' %>
      <%= radio_button_tag :relationship_status, "Married" %>
      <%= f.label :relationship_status, 'Single' %>
      <%= radio_button_tag :relationship_status, 'Single' %>
      <%= f.label :relationship_status, 'Divorced' %>
      <%= radio_button_tag :relationship_status, 'Divorced' %>
    </p>
  </div>

  <div>
    <%= f.submit 'Continue', class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
<% end %>