<%= form_for(@user, url: wizard_path) do |f|%>
  <h3>Step 1: Personal Information</h3>
  <div>
    <%= f.label :first_name %>
    <%= text_field_tag :first_name %>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= text_field_tag :last_name %>
  </div>

  <div>
    <%= f.label :address %>
    <%= text_field_tag :address %>
  </div>

  <div>
    <%= f.label :address2, 'Apt' %>
    <%= text_field_tag :address2 %>
  </div>
  <div>
    <%= f.label :city %>
    <%= text_field_tag :city %>
  </div>
  <div>
    <%= f.label :state %>
    <%= text_field_tag :state %>
  </div>
  <div>
    <%= f.label :zip %>
    <%= text_field_tag :zip %>
  </div>
  <div>
    <%= f.submit 'Continue', class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
<% end %>