<div class="row">
  <div class="col-sm-4 col-sm-offset-3">
    <h4 class="text-center">Basic Information</h4>
    <hr>
    <%= form_for(@user, url: wizard_path) do |f|%>
      <!-- <div class="form-group col-md-12"> -->
        <!-- <p>Patient is:</p> -->
        <%#= f.label :is_policy_holder?, "Policy Holder" %>
        <%#= f.radio_button :is_policy_holder?, "policy holder" %><br>

        <%#= f.label :is_policy_holder?, "Responsible Party" %>
        <%#= f.radio_button :is_policy_holder?, "Responsible Party" %>
      <!-- </div> -->

      <div class="form-group col-md-12">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group col-md-12">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: false, class: 'form-control'%>
      </div>

      <div class="form-group col-md-12">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control'  %>
      </div>

      <div class="form-group col-md-12">
        <%= f.label :address2, 'Apt' %>
        <%= f.text_field :address2, class: 'form-control'  %>
      </div>
      <div class="form-group col-md-12">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control'  %>
      </div>
      <div class="form-group col-md-12">
        <%= f.label :state %>
        <%= f.text_field :state, class: 'form-control'  %>
      </div>
      <div class="form-group col-md-12">
        <%= f.label :zip %>
        <%= f.text_field :zip, class: 'form-control'  %>
      </div>

      <div class="form-group col-md-12">
        <%= f.label :date_of_birth %> <br />
        <%= date_select("user", "birthday", start_year: Date.today.year, end_year: Date.today.year - 100) %>
      </div>

      <div class="form-group col-md-12">
        <%= f.submit 'Continue', class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
      </div>
    <% end %>
  </div>
</div>