<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"> -->
    <title>Iris</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  </head>
  <body>
    <%= render partial: 'shared/navigation' %>
    <main class="mdl-layout__content">
      <div class="page-content">
        <p>
          Is user signed in? <%= user_signed_in? %> and patient is <%= calculate_age %>
        </p>
         <% unless @conditions.blank? %>
          <ul>
            <p>Known Medical History</p>
            <% @conditions.each do |condition|%>
              <li>
                <%= condition %>
              </li>
            <% end %>
          </ul>
         <% end %>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%#= render partial: 'shared/patient_information' %>
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </main>
    </div>
  </body>
</html>
